@media only screen and (min-width: 768px){
    .medium-6 {width: 50%;}

    nav button {display: none;}
    nav ul {display: block;}
    nav li {width: calc(100%/4); float: left;}

    nav ul.close {display: block;}

    .landing-tiles {
        display: grid;
        grid-template-columns: repeat(2, 1.2fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    /* Color Boxes */

    .color-box {
        padding: 4rem;
        text-align: center;
    }

    .color-box-container {
        display: grid;
        grid-template-columns: repeat(2, 1.2fr);
        column-gap: 20px;
        row-gap: 20px;
    }

} /* end of media query */