@use 'sass:map';

@use 'color_palette.module.scss';

$bg-color: #222;
$text-color: #AAA;
$text-dark: #111;
$text-light: #EEE;

$primary: map.get(color_palette.$colors, 'red');//#D63230;

:export {
    primary: #FFAAAA;
}


@font-face {
    font-family: RussischSans;
    src: url("./fonts/RussischSans/RussischSans-Regular.ttf");
}

body {
    background-image: linear-gradient(90deg, $bg-color, $bg-color, $bg-color, darken($primary, 10%));
    color: $text-color;
    font-family: RussischSans, Arial, Helvetica, sans-serif;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

h1 {
    font-size: 36px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.5px;
}

a {
    color: $text-color;
    text-decoration: none;
}

.text-dark {
    color: $text-dark !important;
}

/* navbar */

nav {
    background-color: $primary;
    color: $text-light;
}

nav ul {margin: 0; padding: 0;}
nav ul li {list-style-type: none;}
nav ul.close {display: none;}

nav a {
    display: block;
    padding: .8rem 0;
    color: $text-light;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

nav li.active {background-color: rgba(0, 0, 0, 0.5);}

nav a:hover {background-color: rgba(0, 0, 0, 0.2);}

#hamburgerBtn {
    background-color: $primary;
    border: 0;
}

#hamburgerBtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

footer {
    padding: 20px;
    padding-bottom: 40px;
    height: 20px;
    background-color: $primary;
    color: $text-light;
    font-weight: bold;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* grid rules */

.row {clear: both;}
.limited {
    max-width: 1024px;
    margin: auto;
}

.sparsely-limited {
    max-width: 1500px;
    margin: auto;
}

.column{float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}

.small-12 {width: 100%;}

/* landing page tiles */

.top-tile {
    text-align: center;
}

.top-tile > p {
    font-weight: lighter;
    font-size: 24px;
}

/* content tiles */

.landing-tiles {
    display: grid;
    grid-template-columns: repeat(1, 1.2fr);
    column-gap: 20px;
    row-gap: 20px;
}

.tile {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.15);
}

.tile > h2 {
    text-align: center;
    font-size: 24px;
}

.tile > p {
    text-align: left;
    font-size: 18px;
}

.tile > img {
    width: 100%;
    height: auto;
}

/* Color Boxes */

.color-box {
    padding: 4rem;
    text-align: center;
}

.color-box-container {
    display: grid;
    grid-template-columns: repeat(1, 1.2fr);
    column-gap: 20px;
    row-gap: 20px;
}